
old_*
# except foo.html which is maintained by hand
**/test_compte_bancaire.py
unit-tests/test_email_validation.py
unit-tests/test_inventaire.py

test_integration_commerce_app.py
test_integration_reservation_app.py
test_integration_post_app.py
test_integration_post_api.py
env_test/
__pycache__/
env
